{{#if user}}
    {{> user-menu }}
{{else}}
    {{> welcome-menu }}
{{/if}}
<div class="container recipe-container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <img src="{{recipe.img_url}}" alt="{{recipe.title}}">
        </div>
        <div class="col-sm-6">
            <h1>{{recipe.title}}</h1>
            <div class="info mt-3">
                <div class="prep-container mt-4">
                    <img class="icon" src="/icons/time.svg" alt="Preparation time">
                    <span>{{recipe.prep_time}}</span> Min
                </div>
                {{#if recipe.vegetarian}}
                    <img class="icon" src="/icons/plant.png" alt="vegetarian">
                {{/if}}
                <h2 class="mt-5 ingredients-list">Ingredients</h2>
                {{#each ingredients}}
                    <div class="single-ingredient-container">
                        <span class="name">{{this.name}}</span>
                        <span class="amount">
                            {{this.amount}}
                            {{#if this.continuous}}
                                &nbsp;g
                            {{/if}}
                        </span>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <h2 class="mt-4 mb-3">Instructions</h2>
    {{{recipe.instructions}}}
</div>